.fixtures-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-underline-offset: 20%;
  }
  .dig{
    font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: yellowgreen;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
  }
  
  .fixtures-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .fixtures-table th,
  .fixtures-table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .fixtures-table th {
    background-color: grey;
    color: #fff;
    font-weight: bold;
  }
  
  .fixtures-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  .fixtures-table tbody tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.2s;
  }
  