.logo img{
    height: 40px;
    width: 40px;
    padding-top: 10px;
    cursor: pointer;
}
.navbar{
    background-color: rgba(0, 0, 255, 0.653);
    height: 40px;
}
.bhuo{
    border-radius: 15%;
    background-color: rgb(21, 0, 255);
    padding: 1px 7px;
    margin-right: 10px;
    width:fit-content;
    height: 30px;
    
}
.nav-item{
    font-weight: 500;
    font-size: 18px;
}
nav img{
    display:left;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 20px;
}
.noo{
    color: black;
    padding-left: 10px;
}

    
